<div class="container cohead" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/findATMfrontEnd/#!" class="navbar-brand">findATM</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			
			<li ui-route="/findATMfrontEnd/signup" ng-class="{active: $uiRoute}">
				<a href="/findATMfrontEnd/#!/signup">Sign Up</a>
			</li>
			<li ui-route="/findATMfrontEnd/signin" ng-class="{active: $uiRoute}">
				<a href="/findATMfrontEnd/#!/signin">Sign In</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li ui-route="/findATMfrontEnd/atm/add" ng-class="{active: $uiRoute}">
				<a href="/findATMfrontEnd/#!/atm/add">Add Atms</a>
			</li>
			<li class="dropdown">
				<a href="#!" class="dropdown-toggle" data-toggle="dropdown">
					<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/findATMfrontEnd/#!/settings/profile">Edit Profile</a>
					</li>
					<li>
						<a href="/findATMfrontEnd/#!/settings/accounts">Manage Social Accounts</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/findATMfrontEnd/#!/settings/password">Change Password</a>
					</li>
					<li>
						<a href="#!" ng-click="signout()">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>