<section data-ng-controller="HomeController" id="home" class="container col-md-11">
	<div class="page-header">
		<div class="row">
			<div class="col-lg-10">
				<h1>findATM <small>never be stranded again! find the closest ATM to you</small></h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-8">
			<div class="row list-group">
				<ul>
					<li ng-repeat="atm in filteredAtms" class="col-xs-12 list-group-item">
						<p>Bank: {{atm.bank_name.name}}<span class="badge pull-right">{{atm.distance | formatDistance}}</span></p>
						<p>Address: {{atm.address}}</p>

						<p>State: {{atm.state.name}} </p>
						<p>Estimate: {{atm.estimate}} </p>
					</li>
				</ul>
			</div>
			<pagination direction-links="false" boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
		</div>
	</div>
</section>