<section data-ng-controller="HomeController" id="home" class="container col-md-11">
	<div class="page-header">
		<div class="row">
			<div class="col-lg-10">
				<h1>findATM <small>never be stranded again! find the closest ATM to you</small></h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-8">
			<div class="row list-group">
				<div ng-repeat="atm in atms" class="col-xs-12 list-group-item">
					<p>Bank: {{atm.bank}}<span class="badge pull-right">{{atm.Distance}}</span></p>
					<p>Address: {{atm.Address}}</p>

					<p>State: {{atm.State}} </p>
					<p>Estimate: {{atm.Estimate}} </p>
				</div>
			</div>
		</div>
	</div>
</section>